.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",;
  }





  
  .display{
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    width: 1110px;
    border: 10px solid #ddd;
    border-radius: 5px;
    margin-bottom: 30px;

  }
  .historyList{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
  }


  .historyElement{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 59px;
    /* border: 1px solid black; */
  }


  .keyboard{
    min-width: 1110px;
    display: flex;
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  /* .keyboard_main {
    min-width: 800px;
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
  } */
  .keyboard-row-one{
    display: flex;
  }
  .keyboard-row {
    display: flex;
    margin-bottom: 5px;
  }
  .space{
    height: 10px;
  }
  .keyboard_numpad_row_1{
    display: flex;
  }
  .keyboard_numpad_row_3_4{
    display: flex;
    margin-bottom: 5px;
  }
  .left_side_upper{
    display: flex;
    margin-bottom: 5px;
  }
  .left_side_lower{
    display: flex;
  }
  .npr1{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 20px;
    width: 35px;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease;
    margin-right: 5px;
  }
  .keyboard_numpad_row_2{
    display: flex;
    margin-bottom: 5px;
  }
  .key-r1{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 20px;
    width: 30px;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease;
    margin-right: 5px;

  }
  .key {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 35px;
    width: 35px;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease;
    margin-right: 5px;
    animation:clickAnimation 0.3s ease;
  }
  


  .key:hover {
    background-color: #7dc6f6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
  .key-r1:hover{
    background-color: #7dc6f6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
  .npr1:hover{
    background-color: #7dc6f6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
  .key:active {
    background-color: #ddd;
    box-shadow: none;
    transform: translateY(0);
  }
  .key-r1:active {
    background-color: #ddd;
    box-shadow: none;
    transform: translateY(0);
  }
  .npr1:active {
    background-color: #ddd;
    box-shadow: none;
    transform: translateY(0);
  }

  .Esc{
    
    flex: 0 0 35px;
  }
  .npPlus{
    height: 87px;
  }
  .npEnter{
    height: 87px;
  }
  .prtsrc{
    font-size: 15px;
    width: 50px;
  }
  .Delete{
    flex: 0 0 36px;
  }
  .spacebar {
    flex-grow: 1;
    max-width: 300px;
  }
  .npZero{
    width: 97px;
  }
  
  .backspace {
    flex: 0 0 130px;
  }
  
  .tab {
    flex: 0 0 55px;
  }
  
  .capslock {
    flex: 0 0 70px;
  }
  
  .enter {
    flex: 0 0 81px;
  }
  
  .Lshift {
    flex: 0 0 107px;
  }
  .Rshift {
    flex: 0 0 107px;
  }
  
  .Lctrl,
  .fn {
    flex: 0 0 40px;
  }



/*---------------------------------------------------*/

.underLeftArrow{
  background-image: url(/assets/left_arrow.png);
  background-size:cover;
  background-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  height: 15px;
  width: 7px;
  padding: 5px 10px;
  /* border: 1px solid black; */
}

/*---------------------------------------------------*/
.upperArrow{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 12px;
  width: 35px;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-right: 5px;

}

.lowerArrow{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 12px;
  width: 35px;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-right: 5px;

}

.upper_arrow_key{
  background-image: url(/assets/upper_arrow.png);
  background-size:cover;
  background-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  height: 15px;
  width: 7px;
  padding: 5px 10px;
  /* border: 1px solid black; */
}
 


   /*---------------------------------------------------*/

  .underRightArrow{
    background-image: url(/assets/right_arrow.png);
    background-size:cover;
    background-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    height: 15px;
    width: 7px;
    padding: 5px 10px;
  }

  /*---------------------------------------------------*/
  .lower_arrow_key{
    background-image: url(/assets/bottom_arrow.png);
    background-size:cover;
    background-size: 24px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    height: 12px;
    width: 7px;
    padding: 5px 10px;
  }




  /*--------clicked class----------------*/

  .afterclick{
    background-color: #37db34;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* border-color: rgb(4, 255, 0); */
    transform: translateY(-2px);
    animation: clickAnimation 0.3s ease;
  }

  @keyframes clickAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}